.hadist .container, .time .container {
    width: 100%;
    padding: 2rem 1.5rem 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 -1px 1px rgba(0, 0, 0, 0.1);
    position: relative;
    background-color: white;
}

.time, .hadist {
    background-color: #ffd6dd;
}

.time {
    width: 100%;
    min-height: 100vh;
    text-align: center;
    padding: 10rem 8rem;
    position: relative;
}

.time h2 {
    font-family: var(--butler);
    font-size: var(--fontSize-heading-base);
    font-weight: 400;
}

.time div:nth-of-type(1) {
    margin-top: 2rem;
}

.time div:nth-of-type(1) div h3 {
    font-family: var(--butler);
    font-size: var(--fontSize-heading-lg);
    font-weight: 400;
}

.time div:nth-of-type(1) div:nth-of-type(2){
    margin-top: 2rem;
}

.time .container .our-day {
    font-family: var(--sacramento);
    margin-bottom: 50px;
    font-weight: 500;
}

.time .container #time-title {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.time a {
    padding: 0.5rem 1rem;
    color: #000;
    font-size: 1rem;
    background-color: #ffd6dd;
    margin: 2rem auto 1rem;
    border-radius: 20px;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.time a i {
    font-size: 1.2rem;
}

.time a + p + i {
    right: 8rem;
    top: 22rem;
}